html {
  scroll-behavior: smooth;
}

body, html {
  height:100%;
}

body {
  padding: 1%;
  background-color: #f2f2f2;
}

header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
}

header > #perfil {
  width: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1c1c1c;
  font-size: 18px;
}

header > #perfil > #name {
  text-align: center;
}

header > #perfil > #status {
  text-align: center;
}

header > #header-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

header > #top-menu {
  padding: 3%;
  background-color: #f2f2f2;
  width: 100%;
  visibility: hidden;
}

header > #top-menu > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header > #top-menu > ul > li {
  list-style: none;
}

header > #top-menu > ul > li > a {
  text-decoration: none;
  color: #1c1c1c;
}

main {
  padding: 0;
  margin: 2%;
  display: flex;
  flex-direction: row;
}

main > article {
  width: 100%;
}

main > article > #bio-resume {
  margin-bottom: 1%;
}

main > article > #portfolio > h2 > a {
  text-decoration: none;
  color: #1c1c1c;
}

main > article > #portfolio > h2 > a:hover {
  color: #c0c0c0;
  transition-duration: .3s;
}

main > section > #lateral-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  font-size: 18px;
}

main > section > #lateral-menu > #nav > li {
  list-style: none;
}

main > section > #lateral-menu > #nav > li > a {
  text-decoration: none;
  color: #1c1c1c;
}

footer {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.negative {
  background-color: #1c1c1c;
  padding: 1%;
  border-radius: 10px;
  color: #d6d6d6;
  font-size: 16;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.stick {
  position: fixed;
  top: 0;
}

.stick + #top-menu {
  padding-top: 1%;
}

@media only screen and (max-width: 600px) {  
  body {
    padding: .5%;
  }
  
  header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
  }
  
  header > #perfil {
    font-size: 20px;
  }
  
  main {
    flex-direction: column;
  }

  header > #top-menu {
    visibility: visible;
  }

  main > section > #lateral-menu {
    display: none;
  }

  .negative {
    padding: 5%;
  }
}
