@import url(./index.css);
@import url(./variables.css);

main h1 {
  font-size: 2rem;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
}

header > #perfil {
  width: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-size: 18px;
}

header > #perfil > #name {
  text-align: center;
}

header > #perfil > #status {
  text-align: center;
}

header > #header-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

header > #top-menu {
  margin: 0;
  padding: 3% 0;
  background-color: var(--background-primary);
  width: 100vw;
  display: none;
}

header > #top-menu > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header > #top-menu > ul > li {
  list-style: none;
}

header > #top-menu > ul > li > a {
  text-decoration: none;
  color: var(--primary);
}

main {
  padding: 0;
  margin: 2%;
  display: flex;
  flex-direction: row;
}

main > article {
  width: 100%;
}

ul {
  list-style: none;
}

main > article > #bio-resume {
  margin-bottom: 1%;
}

main > article > #posts-github > ul > .card > h2 {
  font-size: larger;
}

main > article > #portfolio-github > ul > .card > h2 > a,
main > article > #posts-github > ul > .card > h2 > a {
  text-decoration: none;
  color: var(--secundary);
}

main > article > #portfolio-github > ul > .card > h2 > a:hover,
main > article > #posts-github > ul > .card > h2 > a:hover {
  color: var(--background-secundary);
  transition-duration: .3s;
}

main > section > #lateral-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  font-size: 18px;
}

main > section > #lateral-menu > #nav > li {
  list-style: none;
}

main > section > #lateral-menu > #nav > li > a {
  text-decoration: none;
  color: var(--primary);
}

footer {
  width:100%;
  display: flex;
  padding-bottom: 2vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer #reserved-rights p {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.negative {
  background-color: var(--primary);
  padding: 1%;
  border-radius: 10px;
  color: var(--background-primary);
  font-size: 16;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
}

main > article > #portfolio-github > .card > p,
main > article > #posts-github > p {
  color: var(--secundary);
  background-color: var(--background-secundary);
}

.stick {
  position: fixed;
  top: 0;
}

.stick + #top-menu {
  padding-top: 1%;
}

@media only screen and (max-width: 600px) {  
  body {
    padding: .5%;
  }
  
  header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
  }
  
  header > #perfil {
    font-size: 20px;
  }
  
  main {
    flex-direction: column;
  }

  header > #top-menu {
    display: inline; 
  }

  main > section > #lateral-menu {
    display: none;
  }

  .negative {
    padding: 5%;
  }
}
